<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.expenses">
    <!-- permissionの追加 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Expenses">
        <activity
            android:name=".SecondActivity"
            android:label="@string/title_activity_second"
            android:theme="@style/Theme.Expenses.NoActionBar" />
        <activity
            android:name=".FourthActivity"
            android:label="@string/title_activity_fouthctivity"
            android:theme="@style/Theme.Expenses.NoActionBar" />
        <activity
            android:name=".ThirdActivity"
            android:label="@string/title_activity_thied"
            android:theme="@style/Theme.Expenses.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>